.landing {
    text-align: center;
    font-family: Roboto;
}

.landing .landing--title {
    position: absolute;
    width: 826px;
    height: 159px;
    left: 313px;
    top: 226px;

    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 103px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

    text-shadow: 2px 2px 0 #FFF, -2px -2px 0 #FFF,
                 -2px 2px 0 #FFF, 2px -2px 0 #FFF,
                 0px 2px 0 #FFF,  0 -2px 0 #FFF,
                 -2px 0 0 #FFF,   2px 0 0 #FFF;
}

.landing .landing--search-form {
    position: absolute;
    width: 1060px;
    left: 201px;
    top: 567px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    float: center;
}

.landing .landing--short-description {
    position: absolute;
    width: 723px;
    height: 173px;
    left: 365px;
    top: 385px;

    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

    text-shadow: 1px 1px 0 #FFF, -1px -1px 0 #FFF,
                 -1px 1px 0 #FFF, 1px -1px 0 #FFF,
                 0px 1px 0 #FFF,  0 -1px 0 #FFF,
                 -1px 0 0 #FFF,   1px 0 0 #FFF;
}

.landing .landing--howto-navi {
    position: absolute;
    width: 254px;
    height: 63px;
    left: 593px;
    top: 960px;

    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.landing .landing--box--yellow {
    position: absolute;
    top: 147px;
    width: 666px;
    height: 729px;
    left: 731px;

    background: #E7DF25;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
}

.landing .landing--box--green {
    position: absolute;
    top: 147px;
    width: 666px;
    height: 729px;
    left: 63px;

    background: #90D050;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
}
